body {
  color: blue;
  background-color: cornflowerblue;
}

html {
  font-size: 20px;
}

.title {
  color: #000;
}

.aas {
  color: wheat;
}
.aas {
  color: wheat;
}
.aas {
  color: wheat;
}
.aas {
  color: wheat;
}
.aas {
  color: wheat;
}
.aas {
  color: wheat;
}
.aas {
  color: wheat;
}
.aas {
  color: wheat;
}